<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bingo</title>
    <link rel="stylesheet" href="/css/style.css" media="screen">
  </head>
  <body>
    This is app page
  </body>
</html>
